{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container-fluid bg-secondary p-5 px-5 py-5 d-flex flex-column justify-content-center align-items-center">
    <h2 class="text-white my-5 pt-5">Сайн байна уу хэрэглэгч , "{{user}}"</h2>

    <div class="container bg-primary p-5">
      <div class="row">
	<div class="col-sm-12">
	  <h1 class="text-uppercase text-white font-weight-bolder text-center">Таны Сагс</h1>
	  <hr class="w-25 h-25 border-white">
	</div>
      </div>

      <div class="row mt-5">

	{% for i in yslol %}
	<div class="col-sm-12 mt-4">
	  <div class="card shadow">
	    <div class="row">
	      <div class="col-sm-4">
		<img class="card-img" src="{{i.picture}}">
	      </div>
	      <div class="col-sm-8">
		<div class="card-body d-flex flex-column h-100">
		  <h4 class="card-title font-weight-bold">{{i.name}}</h4>
		  <hr class="w-50 m-hr-width-2">
		  <p class="item-price text-right font-weight-bold h3 flex-grow-1 my-auto" >{{i.price}}$</p>
		  <a href="//" class="ml-auto mt-auto w-75 btn btn-primary d-block shadow-sm basketadd">Хасах</a>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	{% endfor %}

	{% for i in surgalt %}
	<div class="col-sm-12 mt-4">
	  <div class="card shadow">
	    <div class="row">
	      <div class="col-sm-4">
		<img class="card-img" src="{{i.picture}}">
	      </div>
	      <div class="col-sm-8">
		<div class="card-body d-flex flex-column h-100">
		  <h4 class="card-title font-weight-bold">{{i.name}}</h4>
		  <hr class="w-50 m-hr-width-2">
		  <p class="item-price text-right font-weight-bold h3 flex-grow-1 my-auto" >{{i.price}}$</p>
		  <a href="//" class="ml-auto mt-auto w-75 btn btn-primary d-block shadow-sm basketadd">Хасах</a>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	{% endfor %}

	{% for i in turees %}
	<div class="col-sm-12 mt-4">
	  <div class="card shadow">
	    <div class="row">
	      <div class="col-sm-4">
		<img class="card-img" src="{{i.picture}}">
	      </div>
	      <div class="col-sm-8">
		<div class="card-body d-flex flex-column h-100">
		  <h4 class="card-title font-weight-bold">{{i.name}}</h4>
		  <hr class="w-50 m-hr-width-2">
		  <p class="item-price text-right font-weight-bold h3 flex-grow-1 my-auto" >{{i.price}}$</p>
		  <a href="//" class="ml-auto mt-auto w-75 btn btn-primary d-block shadow-sm basketadd">Хасах</a>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	{% endfor %}

	{% for i in neriin %}
	<div class="col-sm-12 mt-4">
	  <div class="card shadow">
	    <div class="row">
	      <div class="col-sm-4">
		<img class="card-img" src="{{i.picture}}">
	      </div>
	      <div class="col-sm-8">
		<div class="card-body d-flex flex-column h-100">
		  <h4 class="card-title font-weight-bold">{{i.name}}</h4>
		  <hr class="w-50 m-hr-width-2">
		  <p class="item-price text-right font-weight-bold h3 flex-grow-1 my-auto" >{{i.price}}$</p>
		  <a href="//" class="ml-auto mt-auto w-75 btn btn-primary d-block shadow-sm basketadd">Хасах</a>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	{% endfor %}

	{% for i in baiguulga %}
	<div class="col-sm-12 mt-4">
	  <div class="card shadow">
	    <div class="row">
	      <div class="col-sm-4">
		<img class="card-img" src="{{i.picture}}">
	      </div>
	      <div class="col-sm-8">
		<div class="card-body d-flex flex-column h-100">
		  <h4 class="card-title font-weight-bold">{{i.name}}</h4>
		  <hr class="w-50 m-hr-width-2">
		  <p class="item-price text-right font-weight-bold h3 flex-grow-1 my-auto" >{{i.price}}$</p>
		  <a href="//" class="ml-auto mt-auto w-75 btn btn-primary d-block shadow-sm basketadd">Хасах</a>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	{% endfor %}
      </div>

      <!-- Кальндарчилсан Төвлөгөө -->
      <section class="page-section" id="tuwluguu">
	<div class="container">
	  <div class="row">
	    <div class="col-sm-12">
	      <h1 class="text-uppercase font-weight-bolder text-center">Кальндарчилсан Төвлөгөө</h1>
	      <hr class="w-25 h-25">
	    </div>
	  </div>

	  <div class="row mt-5">
	    <div class="col">
	      <div id="calendar" style="height: 800px"></div>
	    </div>
	  </div>
	</div>

      </section>

      <div class="row mt-4">
	<div class="col-sm-12">
	  <hr class="w-25 h-25 border-white">
	  <h5 class="text-uppercase text-white font-weight-bolder text-right">Нийт</h5>
	  <h3 id="full-price" class="text-uppercase text-white font-weight-bolder text-right mb-5">$950000</h3>
	  
	  <form action="{% url 'zahialga' %}" method="get">
	    <button class="btn btn-success m-auto w-75 d-block py-3" type="submit"><span class="h2">ЗАХИАЛАХ</span></button>
	  </form>
	  <br class="mt-5">
	</div>
      </div>

    </div>

  </div>
{% endblock %}

{% block js %}
    <script src='{% static '/packages/core/main.js' %}'></script>
    <script src='{% static '/packages/interaction/main.js' %}'></script>
    <script src='{% static '/packages/daygrid/main.js' %}'></script>
    <script src='{% static '/packages/timegrid/main.js' %}'></script>

  <script>

    let sum = 0;
    $(".item-price").each( function(){
      sum += parseInt($(this).text());
      console.log(sum)
    } )

    if(sum == 0){
      $("#full-price").text("$ 0");
    }else{
      $("#full-price").text("$ " + sum);
    }


    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
	plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
	header: {
	  left: 'prev,next today',
	  center: 'title',
	  right: 'dayGridMonth,timeGridWeek,timeGridDay'
	},
	defaultDate: '2020-02-12',
	navLinks: true, // can click day/week names to navigate views
	selectable: true,
	selectMirror: true,
	select: function(arg) {
	  var title = prompt('Event Title:');
	  if (title) {
	    calendar.addEvent({
	      title: title,
	      start: arg.start,
	      end: arg.end,
	      allDay: arg.allDay
	    })
	  }
	  calendar.unselect()
	},
	editable: true,
	eventBackgroundColor: 'white',
	eventTextColor: 'dark',
	eventLimit: false, // allow "more" link when too many events
	eventClick: function(info){
	  {% if request.user.is_authenticated %}
	    $.post('/cartAdd/',{ 'title' : info.event.title , 'start' : info.event.start , 'itemName' : 'Calender'});
	  {% else %}
	    alert('Та Нэвтэрж Орно Уу!');
	  {% endif %}
	},
	events: [
	{% for i in calender %}
	  {% if i.title == 'Билэгт Сайн Өдөр' %}
	    {
	      title: '{{i.title}}',
	      start: '{{i.start|date:"Y-m-d"}}',
	      color: 'red', 
	      textColor: 'white'
	    },
	  {% else %}
	    {
	      title: '{{i.title}}',
	      start: '{{i.start|date:"Y-m-d"}}',
	    },
	  {% endif %}
	{% endfor %}
	]

      });

      calendar.render();
    });
  </script>
{% endblock %}
